:root {
    --primary-color: rgb(179, 147, 106);
    --secondary-color: #2d6b38 ;
    --tertiary-color: #f9fafb; 
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    color: var(--tertiary-color);
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: solid 20px var(--primary-color);
}
#top{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
    padding: 10px;
}
#search{
    margin-left: 10%;
    width: 200px;
    padding-right: 20%;
    padding-top: 10px;
    background-color: var(--primary-color);
   border: solid 15px var(--tertiary-color);
}
#currentWeather{
    flex: 1;
    margin-left: 10px;
    margin-right: 10%;
    padding-right: 20%;
    padding-top: 10px;
    border: solid 15px var(--tertiary-color);
    background-color: var(--primary-color);
}
#bottom{
    padding-top: 10px;
}
section h2{
    color: var(--tertiary-color);
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
#forcast {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
}
#forcast div {
    margin: 1px;
    border: solid 15px var(--tertiary-color);
    background-color: var(--primary-color);
}
.warning { 
    background-color: red;
    }
.lightWarning{
    background-color: yellow;
}
div {
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}

div h3{
    padding: 5px;
}

